{{!-- Cart handlebar with its own path --}}

<div id="cart" class="container">
    <div class="cart-content">
        <h4>Cart</h4>
        <div class="item">
            <span class="item-name">{{!--data from session--}}</span>
            <span class="item-price">{{!--data from session--}}</span>
        </div>
        <div class="totalPrice">{{!--total cost for order--}}</div>
        {{!-- when checkout is clicked, render the stripe.hb ? not sure if we are fetch stripe or use our own checkout handlebar--}}
        <button class="checkout-button">Checkout</button>
    </div>
</div>