{{! class name changed if needed for styling }}
<div class='checkout'>
	<div id='cancelModel' class='modal' style='display: solid;'>
		<!-- possible success message -->
		<div class='modal-content'>
			<span class='close'>&times;</span>
			<p>Sorry, your payment was not successful.</p>
			<p>Please try again or contact support.</p>
			{{! another a tag or button to return to home, showing a tag here, button is commented out }}
			{{! <button onclick="window.location.href = '/';">Return to homepage</button> }}
			<a href='/'>Return to homepage</a>
		</div>

	</div>
</div>