{{! class name changed if needed for styling }}
<div class='checkout'>
	<div id='successModel' class='modal' style='display: solid;'>
		<!-- possible success message -->
		<div class='modal-content'>
			<span class='close'>&times;</span>
			<p>Payment Successful!</p>
			<p>Your order has been placed.</p>
			{{! another a tag or button to return to home, showing a tag here, button is commented out }}
			{{! <button onclick="window.location.href = '/';">Return to homepage</button> }}
			<a href='/'>Return to homepage</a>
		</div>

	</div>
</div>

<script>
	var successModel = document.getElementById('successModel') var cancelModel =
	document.getElementById('cancelModel') var span =
	document.getElementsByClassName('close')[0] // when click on the 'x' on the
	model, return to homepage span.onclick = () => { window.location.href = '/' }
	// when click on the anywhere outside model, return to homepage window.onclick
	= function(event) { window.location.href = '/' }
</script>