<section class="resto-container">
    <h3 class="resto-name">{{resto.resto_name}}</h3>
    <section class="dish-container">
        <button id="dish-btn" value="{{resto.id}}">See Dishes</button>
    </section>

    <div id="success-modal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="success-message"></p>
        </div>
    </div>


    <script>
        let dishBtn = document.querySelector('#dish-btn');
        console.log(dishBtn);
        console.log(dishBtn.value);

        const testFunction = async (event) => {

            const restoId = dishBtn.value;

            //maybe add a conditional check here to make sure restoId is not null

            const response = await fetch(`/api/dish/${restoId}`, {
                method: 'GET',
            });

            if (response.ok) {
                let token = response.json();

                let dishContainer = document.querySelector('dish-container');

                token.then(function (result) {
                    console.log(result);

                    dishBtn.style.display = "none";

                    for (let i = 0; i < result.length; i++) {

                        let container = document.querySelector('.dish-container');
                        let section = document.createElement("section");
                        section.classList.add('dishCard');

                        let h1 = document.createElement('h1');
                        let p = document.createElement('p');

                        console.log(result[i].dish_name);
                        section.append(result[i].dish_name, h1);

                        console.log(result[i].dish_price);
                        section.append(result[i].dish_price, p);

                        //container.append(section);

                        let btn = document.createElement('button')
                        btn.textContent = 'Add to cart test'
                        btn.dataset.dishId = result[i].id

                        console.log(btn.dataset.dishId)

                        const successModal = document.getElementById('success-modal');
                        const successMsg = document.getElementById('success-message');
                        const closeBtn = document.querySelector('.close');

                        btn.addEventListener('click', async () => {
                            const dish_id = btn.dataset.dishId;
                            const response = await fetch('/cart/cart/add', {
                                method: 'POST',
                                headers: {
                                'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ dish_id })
                            });
                            const data = await response.json();

                            console.log(data)
                            
                            successMsg.textContent = `Added ${result[i].dish_name} to cart!`;
                            successModal.style.display = 'block'
                        });

                        section.append(btn);
                        container.append(section)

                        closeBtn.addEventListener('click', () => {
                            successModal.style.display = 'none';
                        });

                        window.addEventListener('click', (event) => {
                            if (event.target === successModal) {
                                successModal.style.display = 'none';
                            }
                        });


                    }

                });

            } else {
                console.log('route is not working ):');
            }
        }

        dishBtn.addEventListener('click', testFunction);

        

    </script>
</section>