<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <style>
        fieldset {
            border: 0;
        }

        label {
            display: block;
            margin: 30px 0 0 0;
        }

        .overflow {
            height: 200px;
        }

        .ui-selectmenu-button {
            border-radius: 50px;
            padding: 10px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#restoSearch").selectmenu();

            $("#tagSearch").selectmenu();

        });
    </script>
</head>

<section class="search-bar">

    <form action="/search" method="get">

        <fieldset>
            <label for="restoSearch">SEARCH BY RESTAURANT</label>
            <select name="restoSearch" id="restoSearch">
                <option>Resto1</option>
                <option>Resto2</option>
                <option>Resto3</option>
                <option>Resto4</option>
                <option>Resto5</option>
            </select>

            <label for="tagSearch">SEARCH BY DISH</label>
            <select name="tagSearch" id="tagSearch">
                <option value="value">Dish1</option>
                <option value="value">Dish2</option>
                <option value="value">Dish3</option>
                <option value="value">Dish4</option>
            </select>

        </fieldset>
    </form>

</section>

{{!-- need some front-end js for this submit button to fetch the path --}}