<section class='signup-container'>
	<h2 id='signup-header'>Sign Up</h2>

	<section class='signup-circle'>
		<form class='form signup-form'>
			<section class='form-group'>
				<label for='name-signup'>Name:</label>
				<input class='form-input' type='text' id='name-signup' />
			</section>
			<section class='form-group'>
				<label for='email-signup'>Email:</label>
				<input class='form-input' type='text' id='email-signup' />
			</section>
			<section class='form-group'>
				<label for='password-signup'>Password:</label>
				<input class='form-input' type='password' id='password-signup' />
			</section>
			<section class='form-group'>
				<button class='btn signup-btn' type='submit'>SIGN UP</button>
			</section>
		</form>
	</section>
</section>

<script src='./js/signup.js'></script>