<h2>Sign Up</h2>

<form class="form signup-form">
  <section class="form-group">
    <label for="name-signup">Name:</label>
    <input class="form-input" type="text" id="name-signup" />
  </section>
  <section class="form-group">
    <label for="email-signup">Email:</label>
    <input class="form-input" type="text" id="email-signup" />
  </section>
  <section class="form-group">
    <label for="password-signup">Password:</label>
    <input class="form-input" type="password" id="password-signup" />
  </section>
  <section class="form-group">
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </section>
</form>

<script src="./js/signup.js"></script>